@charset "utf-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons 
	1.4 - Forms
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Works Section 
	3.3 - About Section
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
-------------------------------------------------------------- */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;	
	-ms-box-sizing: border-box;	
	-o-box-sizing: border-box;	
	box-sizing: border-box;	
}

body > header > .wrapper > div p:first-child,
body > header > .wrapper > div p:nth-child(2),
.rel p:last-child a, #contact,
footer > .wrapper > .row > div:last-child p {
	color: #FCFFF5;
}

#products h2, #about h2, h3, h4, .price, 
#products .wrapper .row section .row div:last-child p, 
body > header > .wrapper > div p:last-child a:hover {
	color: #3E606F;
}

/*-------- 1.1 - HEADINGS ------------------------------------ */

h2, h3, h4, body > header > div nav p,
body > header > .wrapper > div p:last-child a {
	font-family: 'Passion One', cursive;
}

h2 {
	font: 400 3.5rem/2 'Passion One', cursive;
}

#products > .wrapper > .row > section > div:last-child h3 {
	font-size: 2.5rem;
}


h3 {
	font: 100 1.2em/1 'Passion One', cursive;
	letter-spacing: 2px;
	padding-top: 15px;
}

/*-------- 1.2 - BODY ---------------------------------------- */

body {
    font: 400 1.2em/1.8 'Forum', cursive;
}

body > header > .wrapper > div p:first-child {
	font: 400 5rem/1 'Passion One', cursive;
	text-transform: uppercase;
	margin: 300px 0px 0px 0px;
}

.cont-txt {
	padding-left: 20px;
	text-align: left;
}

body > header > .wrapper > div p:nth-child(2) {
	font: 400 2.5rem/1 'Forum', cursive;
}

#cards .wrapper .row section div:last-child {
	font: 400 .85em/1.6 'Forum', cursive;
}


/*-------- 1.3 - BUTTONS ------------------------------------- */

.brdr-rt {
	border-right: thin solid #fff;
}

body > header > .wrapper > div p:last-child a {
	border: thick solid #fff;

}

body > header > .wrapper > div p:last-child a:hover {
	border: thick solid #D1DBBD;
	background-color: #D1DBBD;
}

.rel p:last-child a,
#about .wrapper p a, form p a,
#products .wrapper .row section p a {
	background-color: #91AA9D;
}

.rel p:last-child a,
#about .wrapper p a, form p a,
#products .wrapper .row section p a,
body > header > .wrapper > div p:last-child a {
	margin: 20px 10px;
	padding: 4px 25px;
	text-transform: uppercase;
	text-decoration: none; 
	display:inline-block;
}

.rel p:last-child a:hover, #about .wrapper p a:hover,
#products .wrapper .row section p a:hover, form p a:hover {
	background-color: #D1DBBD;	
}

form p a {
	margin-left: 0px;
}

/*-------- 1.3 - FORMS --------------------------------------- */

form label {
	display: none;
}

textarea {
	height: 153px;
}

/*---------------------------------------------------------------
2.0 - NAVIGATION MENU
-------------------------------------------------------------- */

/*-------- 2.1 - MAIN MENU ----------------------------------- */

h2, h3, h4, form p a, nav li, #pull-qt, .price,
footer .wrapper .row div:nth-child(2) li, .cont-txt,
#products .wrapper .row section .row div:last-child p, 
footer > .wrapper > .row > div:last-child p {
	text-transform: uppercase;
}

nav li, #pull-qt, .price, 
.rel p:last-child a, #about .wrapper p a,
#products .wrapper .row section p a, form p a, 
footer .wrapper .row div:nth-child(2) li, .cont-txt,
#products .wrapper .row section .row div:last-child p:first-child,
footer > .wrapper > .row > div:last-child p {
	font: 100 1.1rem/1.4 'Passion One', cursive;
	letter-spacing: 2px;
}

nav li a, #about .wrapper p a, #contact .row div a,
header > .wrapper > div p:last-child a,
#products .wrapper .row section p a, form p a,
footer .wrapper .row div:nth-child(2) li a {
	color: #fff;
	text-decoration: none;
}

footer .wrapper .row div:nth-child(2) li, nav li {
	list-style: none;
}

header > div nav li a:hover, #contact .row div a:hover,
footer .wrapper .row div:nth-child(2) li a:hover {
	color: #D1DBBD;
}

/*-------- 2.2 - FOOTER MENU --------------------------------- */

/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */

/*-------- 3.1 - SITE STRUCTURE ------------------------------ */

.wrapper {
	width: 75%;
}

.row:after {
	clear: both;
	content: "";
	display: table;	
}

[class*='col-'] {
	float: left;
	margin: 5px 0 5px 0;
	padding-right: 10px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
} 

img, .rel p:last-child {
	max-width: 100%;	
}


/* WIDTHS */  

.col-1-1 {
	width: 100%;	
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%; 
}

.col-1-5 {
  	width: 20%;
}

.col-1-6-sm {
  	width: 16.666666666666666667%;
}

/* FRACTION WIDTHS */

.col-1-3-lg {
	width: 66.666666666666666667%; 
}

.col-1-6-lg {
  	width: 83.3333333333333333333%;
}

.col-1-9-sm {
	width: 44.4%; 
}

.col-1-9-lg {
	width: 55.5%; 
}


/*-------- 3.2 - SECTION ONE --------------------------------- */

#products .wrapper .row section .row div:last-child p,
.txt-rt {
	text-align: right;
}

#products > .wrapper > .row > section {
	border: thick solid #D1DBBD ;
	padding: 40px 80px 40px 20px;
}

#pull-qt {
	color: #91AA9D;
}

/*-------- 3.3 - SECTION TWO --------------------------------- */

#map {
	height: 250px;
}

#contact-form .wrapper .row div:first-child form {
	margin-right: 25px;
}

/*-------- 3.3 - FOOTER SECTION ------------------------------ */

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */

body > header { 
  background: url(../img/hero-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#cards, #contact {
  background: url(../img/beans-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*-------- 5.1 - BACKGROUND COLORS --------------------------- */

.txt-cntr {
	text-align: center;
}

.bg-lt {
	background-color: #FCFFF5;
}

.row {
	overflow: auto;
}

body > header, #cards {
	background-color: #D6D4D4;	
}

footer {
	background-color: #3E606F;
}

/*-------- 5.2 - TEXT COLORS --------------------------------- */

/*-------- 5.3 - SPACING ------------------------------------- */

.flex {
	display: flex;
}
.p-t-sm {
	padding-top: 10px;
}
.p-t-md {
	padding-top: 20px;
}
.p-t-lg {
	padding-top: 50px;
}
.p-b-lg {
	padding-bottom: 50px;
}
.p-b-xl {
	padding-bottom: 100px;
}
.m-t-sm {
	margin-top: 25px;
}
.m-t-lg {
	margin-top: 75px;
}
.m-b-lg {
	margin-bottom: 50px;
}
.m-b-xl {
	margin-bottom: 75px;
}

#contact-form .wrapper {
	padding-top: 100px;
}

#cards .wrapper .row section:nth-child(odd) {
	margin-right: 15px;
}

#cards .wrapper .row section:nth-child(even) {
	margin-left: 15px;
}

#cards .wrapper .row:first-child section:first-child,
#cards .wrapper .row:first-child section:nth-child(2) {
	margin-bottom: 30px;
}

#cards .wrapper {
	padding: 100px 0px 50px 0px;
}

nav, nav ul {
	padding-left: 0px;
}

nav ul h1 img {
	padding-right:  0px;
}

h1, form p {
	margin: 0px 0px;
}

.wrapper, nav h1  {
	margin: 0 auto;
}

body > header > div nav h1 img {
	padding-right: 15px;
}

body > header > div nav,
#contact-form .wrapper .row {
}

.pad-sides {
	padding-left: 12%;
	padding-right: 12%;
}

#cards .wrapper .row section div:last-child {
	padding-left: 20px;
	padding-right: 10%;
}

footer .wrapper .row div:nth-child(2) {
	padding-top: 35px;
}

footer .wrapper .row div:last-child p {
	margin: 0px 0px 10px 0px;
}

footer .wrapper .row div:last-child {
	padding-left:  12%
}

/*-------- 5.4 - ALIGNMENTS ---------------------------------- */

.center-block {
	float: none !important;
}

.float-rt {
	float: right;
}

.float-lft {
	float: left;
}

.block {
	display: block;
}

.rel {
	position: relative;
}

.rel p:last-child {
	padding-right: 25px;
	position: absolute;
	bottom: 0;
	right: 0;
}

.rel {
	padding-bottom: 85px;
}


/* MEDIA QUERIES */

@media (max-width: 768px) {
	
	/*----------------------------------------------------------
	1.0 - WIDTHS
	--------------------------------------------------------- */
	nav

	.wrapper {
		width: 90%;	
	}
	
	.col-1-6-lg {
		width: 66.66666666666666%; 
    }
	
	.col-1-5 {
		width: 50%;
	}
	
	.col-1-6-sm {
		width: 20%; 
	}
	
	.col-1-4, .col-1-6, .col-1-8 {
		width: 50%;
	}
	
	nav .col-1-7, .col-1-9-sm, .col-1-9-lg,
	.col-1-10, .col-1-11, .col-1-12,
	#contact-form .wrapper .row .col-1-2,
	.col-1-2,
	#cards .wrapper .row .col-1-2, .resize-sm, nav {
		width: 100% !important;	
	}
	
	/*----------------------------------------------------------
	1.0 - TYPOGRAPHY
	--------------------------------------------------------- */
	
	[class*='col-'] {
		padding-right: 0px;	
	}
	
	body > header > div nav,
	footer ul {
		padding-left: 0px;
	}
	
	body, .sm-cntr {
		font: 400 1em/1.4 'Forum', cursive;
	}
	
	#products .wrapper .row section .row div:last-child p,
	body, .sm-cntr {
		text-align: center;
	}
	
	.cont-txt {
		font-size: .7em;
	}
	
	h2, #products > .wrapper > .row > section div:last-child h3 {
		font-size: 2rem;
	}
	
	h3 {
		font-size: 1.2rem;
	}

	nav li {
		font-size: .8em;
	}

	body > header > .wrapper > div p:last-child a {
	font-size: .8em;
	margin: 5px 2px;
	padding: 2px 8px;
	border: thin solid #fff;
	text-transform: uppercase;
	text-decoration: none; 
	display:inline-block;
	}
	
	body > header > .wrapper > div p:last-child a:hover {
	border: thin solid #D1DBBD;
	background-color: #D1DBBD;
	}


	
	body > header > .wrapper > div p:first-child {
	font: 400 2.2rem/1 'Passion One', cursive;
	text-transform: uppercase;
	margin: 30px 0px 0px 0px;
	}
		
	body header .wrapper div p:nth-child(2) {
		font-size: 1.3em;
	}
	
	footer .wrapper .row div:nth-child(2) li {
		font-size: .8em;
	}

	/*----------------------------------------------------------
	1.0 - SPACING
	--------------------------------------------------------- */
	
	body > header > div nav li {
		margin: 10px;
	}
	
	.flex {
		display: block;
	}
	
	header > .wrapper > div {
		padding-bottom: 25px;
	}
	
	nav ul {
		margin-bottom: 50px;
	}
	
	blockquote, nav ul {
		margin: 0 auto;
	}

	#products > .wrapper > .row > section {
		border: none ;
		padding: 0px;
	}
	
	#cards .wrapper .row section:nth-child(odd) {
		margin-right: 0px;
	}

	#cards .wrapper .row section:nth-child(even) {
		margin-left: 0px;
	}
	
	#cards section {
		padding: 20px 20px 0px;
	}
	
	body > header > .wrapper nav .m-t-lg {
		margin: 7px 0px;
	}
	
	body > header > .wrapper nav ul {
		margin-top: 150px;
	}
	
	body > header > .wrapper nav .brdr-rt {
		border-right: none;
	}
	
	.rel p:last-child {
		padding-right: 0px;
		position: static;
	}
	
	.rel {
		padding-bottom: 10px;
	}
	
	.pad-sides {
		padding-left: 1%;
		padding-right: 1%;
	}
	
	#cards .wrapper .row section div:last-child {
		padding-left: 0px;
		padding-right: 0px;;
	}
	
	.z-indx {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1000;
	}
	
	h1 img {
		padding: 10px;
	}
	
	body > header > .wrapper {
		padding: 10px
	}

	footer .wrapper .row div:last-child {
		padding-left: 0px;
	}
	
	#contact-form .wrapper .row div:first-child form {
		margin-right: 0px;
}

	#contact .wrapper .row div figure {
		padding-left: 25%;
	}
}



